.searchbar {
	padding: 10px;
	border-radius: 20px;
	width: 40%;
	background-color: rgb(240, 240, 240);
	color: gray;
	font-weight: bold;
	outline: none;
	border: none;
}

@media screen and (max-width: 600px) {
	.searchbar {
		font-size: 8px;
	}
}
