.masonry {
	display: -webkit-box; /* Not needed if autoprefixing */
	display: -ms-flexbox; /* Not needed if autoprefixing */
	display: flex;
	margin-left: -20px; /* gutter size offset */
	width: auto;
	list-style: none;
}
.masonry-column {
	padding-left: 20px; /* gutter size */
	background-clip: padding-box;
}

.masonry-column > div {
	margin: 15px;
	width: 330px;
	border-radius: 7px;
	position: relative;
}

@media screen and (max-width: 600px) {
	.masonry-column > div {
		width: 40vw;
		margin: 5px;
	}
}
